*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0d1b2a;
    min-width: 100vh;
    overflow: hidden;
    padding: 5%;
}
.circle-box{
    position: relative;
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-box i{
    position: absolute;
    inset: 0;
    border: 3px solid #fff;
    border-radius: 50%;
    transition: 0.5s;
}
.circle-box i:nth-child(1){
    border-radius: 40% 60% 65% / 42% 58% 62% 38%;
    animation: spin1 7s linear infinite;

}
.circle-box i:nth-child(2){
    border-radius: 45% 55% 50% / 38% 62% 65% 35%;
    animation: spin1 5s linear infinite;


}
.circle-box i:nth-child(3){
    border-radius: 42% 58% 55% 45% / 39% 61% 60% 40%;
    animation: spin2 9s linear infinite;


}
.circle-box:hover i{
    border: 4px solid var(--clr);
    filter: drop-shadow(0 0 15px ver(--clr));
}
.form-wrapper{
    position: absolute;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
}
.form-wrapper h2{
    color: #fff;

font-size: 1.8rem;
}
.field{
    width: 100%;
}
.field input{
    width: 100%;
    padding: 12px 16px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 1em;
    border-radius: 30px;
    outline: none;
}
.field input::placeholder{
    color: rgba(225, 255, 255, 0.7);
}

.field select{
width: 100%;
    padding: 12px 16px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 1em;
    border-radius: 30px;
    outline: none;
    }

.field select::placeholder{
    color: rgba(225, 255, 255, 0.7);
}




.field input[type="submit"]{
    background: linear-gradient(45deg, #00d9ff, #ff7ed4);
    border: none;
    color: #000;
    font-weight: bold;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;

}
.nav-links a{
    color: #fff;
    font-size: 0.9em;
    text-decoration: none;
}
@keyframes spin1{
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}
@keyframes spin2{
     0%{ transform: rotate(360deg);}
    100%{ transform: rotate(0deg);}

}
/* Responsive*/

@media(max-width:600px){
    .circle-box{
        width: 300px;
        height: 300px;
    }
    .form-wrapper{
        width: 70%;
    }
     .form-wrapper h2{
        font-size: 1.4rem;
     }

    .nav-links{
        flex-direction: column;
        gap: 8px;
        align-items: center;
    }
}